
/* Start Page Customer List */


.customer-list .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 8%);
}
.customer-list .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}

.customer-list .btn-list:hover{
    box-shadow: 0 2px 6px 0  rgb(142 155 156 / 50%);
}

.customer-list .btn-list{
    background-color: var(--color-main);
    color: white;
    border-radius: 2px;
    font-size: 15px;
}

/* Edit Icone */
.customer-list .table .fa-edit{
    color:  #28a745;
    background-color: #e7ffec;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    margin-left: 20px;
    border: 1px solid #28a745;
    margin-top: 5px;


}

/* Delete Icone */
.customer-list .table .fa-trash{
    color: #dc3545;
    background-color: #ffe3e6;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    margin-left: 10px;
    border: 1px solid #dc3545;
    margin-top: 5px;
}


/* Purchases Icone */
.customer-list .table .fa-cart-arrow-down{
    color: #ce13d4;
    background-color: #fdc1ff;
    border-radius: 2px;
    padding: 4px;
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid #ce13d4;
    margin-top: 5px;
}

/* Invoice Icone */
.customer-list .table .fa-hand-holding-medical{
    color: rgb(85, 149, 233);
    background-color: #e7efff;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    margin-left: 10px;
    border: 1px solid rgb(85, 149, 233);
    margin-top: 5px;
}

/* Return Icone */
.customer-list .table .fa-retweet{
    color: #ff8e24;
    background-color: #ffeedf;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #ff8e24;
    margin-top: 5px;
}

/* Repayment Invoice */
.customer-list .table .fa-money{
    color: var(--color-main);
    background-color: var(--color-second);
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid var(--color-main);
    margin-top: 5px;
}

.customer-list .table .fa-code-branch{
    padding: 4px;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 13px;
    margin-top: 5px;
}

/* Purchases Icone Hover */
.customer-list .table .fa-cart-arrow-down:hover{
    color:  #fdc1ff;
    background-color:  #ce13d4;
}

/* Repayment Icone Hover*/
.customer-list .table .fa-money:hover{
    color:  var(--color-second);
    background-color:  var(--color-main);
}


/* Return Icone Hover*/
.customer-list .table .fa-retweet:hover{
    color:  #ffeedf;
    background-color:  #ff8e24;
}


/* Edit Icone Hover*/
.customer-list .table .fa-edit:hover{
    color:  #e7ffec;
    background-color: #28a745;
}

/* Delete Icone Hover */
.customer-list .table .fa-trash:hover{
    color: #ffe3e6;
    background-color: #dc3545;
}

/* Invoice Icone Hover*/
.customer-list .table .fa-hand-holding-medical:hover{
    color:  #e7efff;
    background-color: rgb(85, 149, 233);
}


/* Edit Button Add Customar */
.customer-list .card-header button{
    font-size: 15px;
}


.customer-list .form-control {
    width: auto;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before{
    content: "-";
    background-color: var(--color-main) !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: var(--color-main) !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid rgb(255 255 255 / 15%) !important;
}
.table-info, .table-info>td, .table-info>th {
    background-color: #eafcff52;
}

/* Edit Button Search */
.dataTables_filter input{
    margin-bottom: 20px;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-size: 14px;
    border: #afafaf solid 1px;
}

.dataTables_filter input:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}


.dataTables_length select{
    font-size: 14px;
    border: #afafaf solid 1px;
} 


.dataTables_length select:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}

select.form-control-sm:not([size]):not([multiple]){
    height: 40px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--color-main);
    border-radius: 2px !important;
}

.pagination>li>a, .pagination>li>span {
    color: var(--color-main);
}
table.table-bordered.dataTable {
    border-right-width: 1px !important;
}



.customer-list .dropdown-toggle::after{
    visibility: hidden;
}
.customer-list .dropdown-toggle{
    padding: 0px;
    border: 0px;
}

.customer-list .dropdown-menu{
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.customer-list .list-group-item-invoice{
    font-size: 14px;
    color: rgb(85, 149, 233);
    background-color: #e7e7ff;
    right: -10px;
}

.customer-list .list-group-item-invoice:hover{

    color: #e7e7ff;
    background-color: rgb(85, 149, 233);
}

.customer-list .list-group-item-return{
    font-size: 14px;
    color: #ff8e24;
    background-color: #ffeedf;
}

.customer-list .list-group-item-return:hover{
    color:  #ffeedf;
    background-color:  #ff8e24;
}


.customer-list .list-group-item-repayment{
    font-size: 14px;
    color: var(--color-main);
    background-color: var(--color-second);
}

.customer-list .list-group-item-repayment:hover{
    color:  var(--color-second);
    background-color:  var(--color-main);
}


.customer-list .form-control{
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    box-shadow: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
}
.customer-list .form-control:focus{
    border: 1px solid var(--color-main);
    box-shadow: inset 0 1px 1px var(--color-main)17, 0 0 10px var(--color-main)17;
}

.customer-list  input{
    height: 50px;
    font-size: 15px;
    border:none;
    border-bottom: 2px solid #c9c9c9;
    margin-bottom: 30px;
}

.customer-list .btn-info{
    font-size: 15px;
}
.customer-list .close{
    font-size: 20px;
}
.customer-list .input-group-text{
    font-size: 15px;
}

@media (min-width: 100px){
    .modal-dialog {
        max-width: 350px !important;
        margin: 140px auto !important;
    }
}

.customer-list .reckoning{
    background-color: transparent;
}

.dropdown-menu.show{
    transform: none !important;
    will-change:unset !important;
    top: 25px !important;
}

.dataTables_wrapper .col-sm-12{
    overflow: visible !important;
}

.customer-list .form-control{
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    box-shadow: none;
    margin-right: 0px !important;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    max-width: 100px
}
.customer-list .form-control:focus{
    border: 1px solid var(--color-main);
    box-shadow: inset 0 1px 1px var(--color-main)17, 0 0 10px var(--color-main)17;
}

.customer-list  input{
    height: 50px;
    font-size: 15px;
    border:none;
    border-bottom: 2px solid #c9c9c9;
    margin-bottom: 30px;
}

.customer-list .btn-info{
    font-size: 15px;
}
.customer-list .close{
    font-size: 20px;
}
.customer-list .input-group-text{
    font-size: 15px;
}

@media (min-width: 100px){
    .modal-dialog {
        max-width: 350px !important;
        margin: 140px auto !important;
    }
}

.customer-list .reckoning{
    background-color: transparent;
}


 .input-custom{
    height: 40px !important;
    margin-bottom: 0px !important;
    margin-top: 5px
 }

 .table td, .table tr, .table th{
    vertical-align: middle !important;
 }